.burger-menu {
    position: absolute;
    min-width: 100%;
    min-height: 100%;

    z-index: 100000;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
    overflow: hidden;
    background-color: #fff;

    padding-top: 90px;
}
  
.burger-menu.open {
    transform: scaleY(1);
}

.menu-btn {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #d2691e;
    border-radius: 2px;
    transform: translateY(-50%);
    transition: 0.3s ease;
  }
  
.menu-btn::before, .menu-btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #d2691e;
    border-radius: 2px;
    transition: 0.3s ease;
  }
  
.menu-btn::before {
    top: -10px;
  }
  
.menu-btn::after {
    top: 10px;
  }
  
.menu-btn.active {
    background-color: transparent;
  }
  
.menu-btn.active::before {
    top: 0;
    transform: rotate(45deg);
}
  
.menu-btn.active::after {
    top: 0;
    transform: rotate(-45deg);
}

.header-products-categoties{
    position: fixed;
    min-width: 100%;
    height: 400px;

    z-index: 100000;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
    overflow: hidden;
    background-color: #fff;

    padding-top: 90px;
}

.header-products-categoties.open {
    transform: scaleY(1);
}